.sideBar {
    overflow-y: auto;
    padding-left: $page_padding_left_right;
    padding-top: $page_content_padding_content_top;

    @include flexColumn;
    align-items: stretch;
    gap: clamp(36px, 3.8rem, 42px);

    @media (max-width: 1024px) {
        padding-left: calc($page_padding_left_right * 0.86);
    }

    @media (max-width: 768px) {
        padding-left: calc($page_padding_left_right * 0.66);
    }

    @media (max-width: 460px) {
        padding-left: calc($page_padding_left_right * 0.36);
    }
}

.sideBarSection {
    @include flexColumn;
    align-items: flex-start;
    align-items: stretch;
}

.sideBarSectionHeading {
    font-size: $fs_heading_sm;
    color: var(--text_color);
    margin: 0;
    margin-bottom: 0.6em;
    cursor: default;
    transition: $transition_effect_md;

    @media (max-width: 1024px) {
        font-size: $fs_heading_ssm;
    }

    @media (max-width: 768px) {
        font-size: $fs_heading_3sm;
    }

    @media (max-width: 460px) {
        font-size: $fs_normal_xl;
    }
}

.sideBarSectionContent {
    @include flexColumn;
    align-items: stretch;
    gap: clamp(16px, 2rem, 24px);
}

.sideBarLink {
    width: 100%;
    @include flexCenter;
    justify-content: flex-start;
    gap: clamp($distance_md, 1.6rem, 20px);

    .sideBarIconWrapper {
        @include flexCenter;
        aspect-ratio: 1 / 1;
        min-width: $side_bar_icon_wrapper_size;
        background-color: color-mix(in srgb, var(--out_focus_gray) 36%, transparent);

        border-radius: calc($distance_sm * 1.06);
        border: 1px solid transparent;
        transition: $transition_effect_md;

        @media (max-width: 1024px) {
            transform: scale(0.96);
        }

        @media (max-width: 768px) {
            transform: scale(0.9);
        }

        @media (max-width: 460px) {
            transform: scale(0.86);
        }

        svg {
            aspect-ratio: 1 / 1;
            height: $fs_normal_xl;
            font-weight: 500;
            color: var(--text_color);
            transition: $transition_effect_md;
        }

        .sideBarFilledIcon {
            fill: currentColor;
        }

        .sideBarIcon path,
        .sideBarIcon line,
        .sideBarIcon polyline {
            fill: currentColor;
        }

        .sideBarIcon {
            fill: none;
        }
    }

    span {
        font-size: $fs_normal_md;
        font-weight: 500;
        color: var(--text_color);
        transition: $transition_effect_md;

        @media (max-width: 1024px) {
            font-size: calc($fs_normal_md * 0.96);
        }

        @media (max-width: 768px) {
            font-size: $fs_normal_sm;
        }

        @media (max-width: 460px) {
            font-size: $fs_normal_ssm;
        }
    }

    &.active {
        .sideBarIconWrapper {
            background-color: color-mix(in srgb, var(--in_focus_gray) 96%, transparent) !important;

            svg {
                color: $primary_color !important;
                transform: scale(1.06);
            }
        }

        span {
            color: $primary_color;
            font-weight: 900;
            transform: scale(1.03);
        }
    }

    &:hover {
        .sideBarIconWrapper {
            background-color: color-mix(in srgb, var(--in_focus_gray) 80%, transparent);
            box-shadow: 2px 2px 3px color-mix(in srgb, var(--out_focus_gray) 50%, transparent);

            svg {
                color: $primary_light_color;
            }
        }
    }
}

.showHideSideBarSectionBtn {
    @include flexCenter;
    justify-content: flex-start;
    gap: clamp($distance_md, 1.6rem, 20px);
    margin-top: 0.6em;
    background-color: transparent;

    .sideBarIconWrapper {
        @include flexCenter;
        aspect-ratio: 1 / 1;
        min-width: $side_bar_icon_wrapper_size;
        background-color: color-mix(in srgb, var(--out_focus_gray) 16%, transparent);

        border-radius: calc($distance_sm * 1.06);
        border: 1px solid transparent;
        transition: $transition_effect_md;

        @media (max-width: 1024px) {
            transform: scale(0.96);
        }

        @media (max-width: 768px) {
            transform: scale(0.9);
        }

        @media (max-width: 460px) {
            transform: scale(0.86);
        }

        svg {
            aspect-ratio: 1 / 1;
            height: $fs_normal_xl;
            color: var(--text_color);
            transition: $transition_effect_md;
        }

        .sideBarShowHideIcon,
        .sideBarShowHideIcon path,
        .sideBarShowHideIcon line,
        .sideBarShowHideIcon polyline {
            fill: none;
        }

        &.rotateIcon {
            svg {
                transform: rotateX(180deg);
            }
        }
    }

    span {
        font-size: $fs_normal_md;
        font-weight: 500;
        color: var(--text_color);
        transition: $transition_effect_md;

        @media (max-width: 1024px) {
            font-size: calc($fs_normal_md * 0.96);
        }

        @media (max-width: 768px) {
            font-size: $fs_normal_sm;
        }

        @media (max-width: 460px) {
            font-size: $fs_normal_ssm;
        }
    }

    &:hover {
        .sideBarIconWrapper {
            background-color: color-mix(in srgb, var(--in_focus_gray) 80%, transparent);

            svg {
                color: $primary_light_color;
            }
        }

        span {
            color: $primary_light_color;
        }
    }
}

.menuSideBar {
    .sideBarSectionHeading,
    .sideBarIconWrapper svg,
    .sideBarLink span,
    .showHideSideBarSectionBtn svg,
    .showHideSideBarSectionBtn span {
        color: $black_text !important;
    }

    .sideBarLink {
        &.active {
            .sideBarIconWrapper {
                background-color: color-mix(in srgb, $dark_gray_color 96%, transparent) !important;
            }
        }

        &:hover {
            .sideBarIconWrapper {
                background-color: color-mix(in srgb, $dark_gray_color 80%, transparent);
                box-shadow: 2px 2px 3px color-mix(in srgb, $gray_color 50%, transparent);
            }
        }
    }
}
