.pageContentWrapper {
    flex-grow: 1;
    width: 100%;
    // height: 100%;
    height: 0;

    &.errorPage,
    &.introPage {
        padding: 0 $page_padding_left_right;
        @include flexCenter;
        justify-content: space-between;
        gap: 40px;

        &:has(.errorPage) {
            justify-content: center;
        }
    }

    &.viewGamesPage {
        @include displayGrid;
        grid-template-columns: 2.5fr 9.5fr;
        padding-bottom: $page_content_padding_content_top;
        padding-bottom: 260px;

        .sideBar {
            grid-column: 1 / 2;
        }

        .contentWrapper {
            // padding-right: $page_padding_left_right;
            // padding-right: $page_padding_left_right;
            // padding-top: $page_content_padding_content_top;
            padding: $page_content_padding_content_top $page_padding_left_right;
        }
    }

    &.normalPage {
        // padding: $page_content_padding_content_top $page_padding_left_right;
        // padding: calc($page_content_padding_content_top * 0.3) $page_padding_left_right
        //     $page_content_padding_content_top;
        padding: calc($page_content_padding_content_top * 0.3) $page_padding_left_right;
    }
}
