.introCard {
    max-width: 36%;
    font-size: 1rem;
    padding: clamp(16px, 2rem, 26px) clamp(30px, 3.6rem, 36px);
    background-color: rgba($color: $snow_white_color, $alpha: 0.24);
    border-radius: $distance_md;
    backdrop-filter: $intro_element_blur_bg_effect;
    box-shadow: 2px 6px 16px rgba($color: $black_text, $alpha: 0.36);

    &.errorPage {
        h1 {
            font-size: $fs_heading_lg;
            color: $white_text;
            text-shadow: 0 0 3px $black_text;
            cursor: default;
            text-wrap: pretty;

            @media (max-width: 1024px) {
                font-size: $fs_heading_sm;
            }

            @media (max-width: 768px) {
                font-size: $fs_heading_ssm;
            }

            @media (max-width: 460px) {
                font-size: $fs_normal_xl;
            }
        }
    }

    @media (max-width: 768px) {
        max-width: none;
        width: 76%;
    }

    @media (max-width: 460px) {
        max-width: none;
        width: 96%;
    }
}

.introCardLeft {
    .introCardTop {
        @include flexColumn;
        align-items: center;
        gap: clamp(20px, 2.4rem, $distance_lg);

        h1,
        p {
            color: $white_text;
            text-shadow: 0 0 3px $black_text;
            cursor: default;
        }

        h1 {
            font-family: 'Rye', 'Roboto Mono', 'Roboto', Arial, Helvetica, sans-serif;
            font-size: $fs_heading_xl;
            font-weight: 300;
            margin: 0;

            @media (max-width: 1024px) {
                font-size: $fs_heading_lg;
            }

            @media (max-width: 768px) {
                font-size: $fs_heading_md;
            }

            @media (max-width: 460px) {
                font-size: $fs_heading_sm;
            }
        }

        p {
            font-size: $fs_normal_md;
            font-weight: 500;
            max-width: 75ch;
            text-align: justify;
            line-height: 1.6;

            @media (max-width: 1024px) {
                font-size: $fs_normal_sm;
            }

            @media (max-width: 768px) {
                font-size: $fs_normal_ssm;
                text-shadow: 0 0 4px $black_text;
            }

            @media (max-width: 460px) {
                font-size: $fs_normal_3sm;
                text-shadow: 0 0 6px $black_text;
            }
        }
    }

    .introCardBottom {
        @include flexCenter;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: clamp(20px, 2.4rem, $distance_lg);
        gap: clamp(10px, 1.4rem, 16px);

        @media (max-width: 768px) {
            margin-top: clamp($distance_md, 2rem, 20px);
        }
    }
}

.introCardRight {
    @include flexColumn;
    gap: clamp(12px, 1.6rem, $distance_md);

    h4 {
        font-size: $fs_normal_xl;
        color: $white_text;
        cursor: default;

        @media (max-width: 1024px) {
            font-size: calc($fs_normal_lg * 0.9);
        }

        @media (max-width: 768px) {
            font-size: $fs_normal_lg;
        }

        @media (max-width: 460px) {
            font-size: calc($fs_normal_lg * 0.82);
        }
    }
}

.introPageBtn {
    flex-basis: 1;
    @include flexCenter;
    padding: 0.36em 1.2em;
    gap: clamp($distance_ssm, 0.6rem, 8px);
    background-color: $snow_white_color;
    border: 1px solid transparent;
    border-radius: 999px;
    transition: $transition_effect_md;

    span,
    svg,
    img {
        transition: inherit;
    }

    svg,
    img {
        aspect-ratio: 1 / 1;
    }

    svg {
        fill: none;
        height: $fs_normal_xl;
        color: $black_text;

        @media (max-width: 1024px) {
            height: $fs_normal_lg;
        }

        @media (max-width: 768px) {
            height: $fs_normal_md;
        }

        @media (max-width: 460px) {
            height: $fs_normal_sm;
        }
    }

    svg path,
    svg line,
    svg polyline {
        fill: currentColor;
    }

    img {
        height: $fs_normal_md;
        border-radius: 5px;

        @media (max-width: 1024px) {
            height: calc($fs_normal_md * 0.96);
        }

        @media (max-width: 768px) {
            height: calc($fs_normal_md * 0.9);
        }

        @media (max-width: 460px) {
            height: calc($fs_normal_md * 0.86);
        }
    }

    span {
        font-size: $fs_normal_sm;
        font-weight: 700;
        color: $black_text;

        @media (max-width: 1024px) {
            font-size: calc($fs_normal_sm * 0.96);
        }

        @media (max-width: 768px) {
            font-size: $fs_normal_ssm;
        }

        @media (max-width: 460px) {
            font-size: $fs_normal_4sm;
        }
    }

    &.introQuickNavigationBtn {
        padding-top: 0.66em;
        padding-bottom: 0.66em;
        span {
            margin-left: 0.2em;
        }
    }

    &:hover {
        background-color: $primary_color;
        transform: scale(1.06);
        border-color: $snow_white_color;

        span,
        svg,
        img {
            scale: 1.03;
        }

        svg {
            color: $snow_white_color;
        }

        span {
            color: $white_text;
        }
    }
}
