.viewCartWrapper {
    flex: 1;
    height: 100%;
    // @include displayGrid;
    // grid-template-columns: 8fr 4fr;
    @include flexColumn;
    align-items: stretch;
}
// .viewCartProductsWrapper {
//     height: 100%;
//     @include flexColumn;
//     align-items: stretch;
// }

.viewCartHeading {
    font-size: $fs_heading_md;
    color: $primary_light_color;
    margin: 0 auto;
}

.productOverview {
    margin: 0 auto;
    font-size: $fs_normal_md;
    color: var(--text_color);
    span {
        font-size: inherit;
        font-weight: 800;
    }
}

.cartGameCardWrapper {
    flex: 1;
    overflow-y: auto;
    @include flexColumn;
    align-items: stretch;

    & > * {
        border-bottom: 2px solid var(--out_focus_gray);
    }

    & > *:last-child {
        border-bottom: none;
    }

    .cartGameCartLoadingSkeleton {
        height: 100px;
    }

    &:has(.cartGameCartLoadingSkeleton) {
        gap: 10px;
    }
}

.cartPriceAndControllerWrapper {
    margin-top: 1.6rem;
    @include flexColumn;
    align-items: stretch;
}

.cartPriceWrapper {
    @include flexCenter;
    justify-content: space-between;
}

.cartPriceLeft {
    font-size: $fs_heading_md;
    color: $primary_light_color;
}

.cartPriceRight {
    @include flexCenter;

    span {
        font-size: $fs_heading_lg;
        font-weight: 900;
        color: $primary_color;
    }
}

.cartControllerWrapper {
    @include flexCenter;
    button {
        font-size: $fs_normal_lg;
        font-weight: 600;
        padding: 0.3em 0.6em;
        color: var(--text_color);
        background-color: transparent;
        border: 3px solid var(--in_focus_gray);
        border-radius: $distance_sm;
        transition: $transition_effect_md;

        &:hover {
            border-color: $primary_color;
        }
    }
}
