.viewCartWrapper {
    flex: 1;
    height: 100%;
    @include flexColumn;
    align-items: stretch;
}

.viewCartHeading {
    font-size: $fs_heading_md;
    color: $primary_light_color;
    margin: 0 auto;

    @media (max-width: 1024px) {
        font-size: calc($fs_heading_md * 0.96);
    }

    @media (max-width: 768px) {
        font-size: $fs_heading_sm;
    }

    @media (max-width: 460px) {
        font-size: $fs_heading_ssm;
    }
}

.productOverview {
    margin: 0 auto;
    font-size: $fs_normal_md;
    color: var(--text_color);

    @media (max-width: 1024px) {
        font-size: calc($fs_normal_md * 0.96);
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_sm;
    }

    @media (max-width: 460px) {
        font-size: $fs_normal_ssm;
    }

    span {
        font-size: inherit;
        font-weight: 800;
    }
}

.cartGameCardWrapper {
    flex: 1;
    overflow-y: auto;
    @include flexColumn;
    align-items: stretch;

    & > * {
        border-bottom: 2px solid var(--out_focus_gray);
    }

    & > *:last-child {
        border-bottom: none;
    }

    .cartGameCartLoadingSkeleton {
        height: 100px;
    }

    &:has(.cartGameCartLoadingSkeleton) {
        gap: 10px;
    }
}

.cartPriceAndControllerWrapper {
    margin-top: 1.6rem;
    @include flexColumn;
    align-items: stretch;

    @media (max-width: 460px) {
        gap: (10px, 1.6rem, 16px);
    }
}

.cartPriceWrapper {
    @include flexCenter;
    justify-content: space-between;
}

.cartPriceLeft {
    font-size: $fs_heading_md;
    color: $primary_light_color;

    @media (max-width: 1024px) {
        font-size: calc($fs_heading_md * 0.96);
    }

    @media (max-width: 768px) {
        font-size: $fs_heading_sm;
    }

    @media (max-width: 460px) {
        font-size: $fs_heading_ssm;
    }
}

.cartPriceRight {
    @include flexCenter;

    span {
        font-size: $fs_heading_lg;
        font-weight: 900;
        color: $primary_color;

        @media (max-width: 1024px) {
            font-size: calc($fs_heading_lg * 0.96);
        }

        @media (max-width: 768px) {
            font-size: $fs_heading_md;
        }

        @media (max-width: 460px) {
            font-size: $fs_heading_sm;
        }
    }
}

.cartControllerWrapper {
    @include flexCenter;
    button {
        font-size: $fs_normal_lg;
        font-weight: 600;
        padding: 0.3em 0.6em;
        color: var(--text_color);
        background-color: transparent;
        border: 3px solid var(--in_focus_gray);
        border-radius: $distance_sm;
        transition: $transition_effect_md;

        @media (max-width: 1024px) {
            font-size: calc($fs_normal_lg * 0.96);
        }

        @media (max-width: 768px) {
            font-size: $fs_normal_md;
        }

        &:hover {
            border-color: $primary_color;
        }
    }
}
