.gameCardWrapper {
    z-index: 10;
    transition: $transition_effect_md;

    &.cardHovering {
        position: relative;
        z-index: 50;
        transform: $game_card_hover_scale_laptop;

        overflow: visible !important;

        @media (max-width: 960px) {
            transform: $game_card_hover_scale_mobile;
        }
    }
}

.gameCard {
    border-radius: $game_card_border_radius;
    overflow: hidden;

    @include flexColumn;
    align-items: stretch;

    &.cardHovering {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.gameCardMedia {
    width: 100%;
    height: 100%;
}

.cardMediaWrapper {
    width: 100%;
    height: 100%;

    &.mediaDisplayed {
        aspect-ratio: 280 / 158;
        // @include flexCenter;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .imageSkeleton {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.cardMediaLibrary {
    width: 100%;
    height: 100%;

    position: relative;

    .imgNavigatorWrapper {
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 15%;
        background: linear-gradient(180deg, #ffffff00 0%, #000000bd 90%);

        @include flexCenter;
        gap: 8px;

        .navigatorWrapper {
            flex: 1;

            .imgNavigator {
                font-size: 1rem;
                padding: 0.2em 0;
                cursor: pointer;
                height: $game_card_img_navigator_height;
                border-radius: 999px;
                background-color: rgba($color: $snow_white_color, $alpha: 0.36);
                transition: $transition_effect_md;

                &.active {
                    background-color: rgba($color: $snow_white_color, $alpha: 0.86);
                }
            }
        }
    }
}

.gameCardInfo,
.gameCardExtraInfo {
    padding: $game_card_info_padding;
    @include flexColumn;
    align-items: stretch;
    gap: clamp(6px, 0.8rem, 10px);

    background-color: var(--game_card_bg);
    transition: $transition_effect_md;

    &:has(.gameNameSkeleton) {
        gap: clamp(10px, 1.2rem, 18px);
    }
}

.platformsWrapper {
    @include flexCenter;
    justify-content: flex-start;
    gap: clamp(2px, 2.6rem, 4px);

    svg path,
    svg line,
    svg polyline {
        fill: currentColor;
    }

    svg {
        height: $fs_normal_md;
        color: var(--text_color);
        transition: $transition_effect_md;
    }

    .platformSkeleton {
        width: 42%;
        height: clamp(16px, 1.8rem, 22px);
        border-radius: 4px;
    }
}

.gameNameSkeleton {
    width: 100%;
    height: clamp(26px, 2.8rem, 32px);
}

.gameName {
    display: inline;
    width: fit-content;

    text-wrap: pretty;
    font-size: $fs_heading_3sm;
    font-weight: 760;
    color: var(--text_color);
    transition: $transition_effect_md;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.16em;
    }
}

.gamePricesAndLike {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pricesWrapper {
        @include flexCenter;
        gap: clamp(8px, 1rem, 12px);

        .discountPrice,
        .oldPrice {
            font-family: 'Poppins';
            transition: $transition_effect_md;
            cursor: default;
        }

        .discountPrice {
            font-size: $fs_normal_xl;
            font-weight: 700;
            color: $primary_light_color;
        }

        .oldPrice {
            font-size: calc($fs_normal_xl * 0.72);
            font-weight: 600;
            text-decoration: line-through;
            color: color-mix(in srgb, var(--text_color) 26%, transparent);
        }

        &:has(.gamePriceSkeleton) {
            justify-content: flex-start;
            width: 100%;
        }

        .gamePriceSkeleton {
            width: 25%;
            height: clamp(20px, 2.4rem, 2.6px);
            border-radius: 4px;
        }
    }
}

.gameCardExtraInfo {
    position: absolute;
    top: 94%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--game_card_bg);
    padding-top: 0;
    padding-bottom: $game_card_extra_info_padding_bottom;

    border-bottom-right-radius: $game_card_border_radius;
    border-bottom-left-radius: $game_card_border_radius;
    border-bottom: 1px solid var(--in_focus_gray);
}

.gameDetailInfoWrapper {
    @include flexColumn;
    align-items: stretch;

    .detailInfoItem {
        font-size: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        padding: 1em 0;

        border-bottom: 1px solid color-mix(in srgb, var(--in_focus_gray) 70%, transparent);

        .detailInfoTitle {
            flex-shrink: 0;
            font-size: $fs_normal_3sm;
            color: color-mix(in srgb, var(--text_color) 86%, transparent);
            transition: $transition_effect_md;
            cursor: default;
        }
    }

    & > *:last-child {
        border: none;
    }
}

.detailInfoWrapper {
    @include flexCenter;
    justify-content: flex-end;
    gap: 4px;
    flex-wrap: wrap;

    transition: $transition_effect_md;
    font-size: calc($fs_normal_ssm * 0.96);
    font-size: $fs_normal_ssm;
    color: var(--text_color);
}

.detailInfoText {
    @include flexCenter;
    cursor: default;

    svg {
        fill: currentColor;
        color: $yellow_color;
        height: $fs_normal_ssm;
    }
}

.detailInfoText,
.gameInfoLinkWrapper,
.gameInfoLinkWrapper a {
    transition: $transition_effect_md;
    font-size: calc($fs_normal_ssm * 0.96);
    font-size: $fs_normal_ssm;
    color: var(--text_color);
}

.gameInfoLinkWrapper {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.addToCartBtn {
    padding: 1rem;
    border-radius: 8px;
    background-color: $primary_light_color;
    transition: $transition_effect_md;

    span {
        font-size: $fs_normal_md;
        font-weight: 500;
        color: $white_text;
        transition: $transition_effect_md;
    }

    &:hover {
        background-color: $primary_dark_color;
        span {
            font-weight: 800;
            transform: scale(1.06);
        }
    }
}
