.gameDetailsWrapper {
    width: 100%;
    height: 100%;
    @include flexColumn;
    gap: clamp(4px, 0.6rem, 8px);
}

.detailsTopWrapper {
    @include flexCenter;
    justify-content: space-between;

    .navigatePrevPage {
        @include flexCenter;
        font-size: calc($fs_normal_lg * 0.96);
        font-weight: 600;
        color: var(--text_color);

        gap: clamp(4px, 0.46em, 8px);
        // transition: $transition_effect_md;

        svg {
            height: $fs_heading_ssm;
            color: var(--text_color);
            transition: $transition_effect_md;
        }

        &:hover {
            color: $primary_light_color;

            svg {
                color: $primary_light_color;
            }
        }
    }

    .gameDetailsTopRight {
        @include flexCenter;
        gap: clamp(10px, 1.4rem, 16px);

        .detailsName {
            font-size: $fs_heading_xl;
            color: var(--text_color);
            margin: 0;
            transition: $transition_effect_md;
        }

        &:has(.detailsNameSkeleton) {
            align-self: stretch;
            align-items: stretch;

            .detailsNameSkeleton {
                width: 360px;
                height: 100%;
            }
        }

        .gameDetailsFavBtn {
            svg {
                height: $fs_heading_ssm;
            }
        }
    }
}

.detailsBottomWrapper {
    flex: 1;
    @include displayGrid;
    grid-template-columns: 8fr 4fr;
    gap: clamp(16px, 2rem, 24px);

    & > * {
        min-width: 0;
    }
}

.detailsImgCarouselWrapper {
    @include flexCenter;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: $carouselBorderRadius;
    background-color: var(--bg_color);
    box-shadow: 0 12px 24px color-mix(in srgb, var(--out_focus_gray) 8%, transparent);
    z-index: 0;

    &:has(.detailsCarouselSkeleton) {
        width: 100%;
        height: 100%;

        .detailsCarouselSkeleton {
            width: 100%;
            height: 100%;
        }
    }
}

.detailsImgCarousel {
    width: 100%;
    height: 100%;
    z-index: 0;

    .detailsImgWrapper {
        width: 100%;
        height: 100%;
        z-index: 0;

        .thumbnailImgWrapper {
            position: absolute;
            height: 16%;
            width: 100%;
            padding: 0 60px;
            bottom: 0;
            background: linear-gradient(0deg, #141414a3 30%, #0fe7fa00 100%);
            @include flexCenter;
            flex-wrap: wrap;
            gap: clamp(14px, 1.6rem, 16px);
            z-index: 10;

            .gameImgThumbnail {
                flex: 1;
                aspect-ratio: 4.5 / 3;
                max-width: 80px;
                object-fit: cover;
                object-position: center;
                transition: $transition_effect_md;

                border-radius: 4px;
                border: 2px solid $snow_white_color;
                cursor: pointer;

                &.active {
                    transform: scale(1.036);
                    border-color: $primary_color;
                }

                &.inactive {
                    transform: scale(0.76);
                }
            }
        }
    }
}

.gameDetailImg {
    position: relative;
    width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
    object-fit: cover;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
    z-index: 3;

    &.hidden {
        display: none;
    }

    &.show {
        display: block;
        animation: imgFadeIn 260ms ease;
    }
}

.carouselBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    @include flexCenter;
    z-index: 10;

    &.carouselBtnLeft {
        left: $carouselBtnTwoSideDistance;
    }

    &.carouselBtnRight {
        right: $carouselBtnTwoSideDistance;
    }

    svg {
        color: $snow_white_color;
        height: $fs_heading_xxl;
    }

    &:hover {
        svg {
            color: $primary_dark_color;
        }
    }
}

.detailsInfoWrapper {
    @include flexColumn;
    justify-content: space-between;

    &:has(.detailsInfoSkeleton) {
        height: 30%;
        .detailsInfoSkeleton {
            width: 100%;
            height: 100%;
        }
    }
}

.detailsInfoTopWrapper {
    flex: 1;
    overflow-y: auto;
    max-height: 660px;
    @include flexColumn;
}

.infoSection {
    @include flexColumn;
    padding: $topInfoSectionPadding;
    transition: $transition_effect_md;

    &.top {
        border-top-left-radius: $topInfoSectionBorderRadius;
        border-top-right-radius: $topInfoSectionBorderRadius;
        background: var(--basic_info_bg_color);
    }

    &.bottom {
        border-bottom-left-radius: $topInfoSectionBorderRadius;
        border-bottom-right-radius: $topInfoSectionBorderRadius;
        background: var(--more_info_bg_color);
        overflow-y: auto;
    }
}

.sectionHeading {
    color: var(--text_color);
    font-size: calc($fs_normal_lg * 0.9);
    font-weight: 700;
    transition: $transition_effect_md;
    margin-bottom: 0.26em;
}

.descriptionTextWrapper {
    max-height: $descriptionMaxHeight;
    overflow-y: auto;

    .descriptionText,
    p {
        color: var(--text_color);
        font-size: calc($fs_normal_sm * 0.95);
        line-height: 1.5;
        text-align: justify;
        max-width: 75ch;
        padding-right: 0.3em;
        transition: $transition_effect_md;
    }
}

.moreInfoList {
    @include flexColumn;
    gap: clamp(3px, 0.36rem, 4px);
    overflow: hidden;
    transition: $transition_effect_md;

    &.expand {
        max-height: 500px;
        opacity: 1;
    }

    &.hidden {
        max-height: 0;
        opacity: 0;
    }
}

.moreInfoItem {
    @include flexCenter;
    justify-content: flex-start;
    align-items: flex-start;
    gap: clamp(6px, 0.8rem, 10px);
}

.infoWrapper {
    @include flexCenter;
    gap: clamp(4px, 0.6rem, 8px);
    justify-content: flex-start;
    flex-wrap: wrap;
}

.infoText {
    @include flexCenter;

    svg {
        height: $fs_normal_ssm;
        fill: currentColor;
        color: $dark_yellow_color;
    }
}

.infoLinkWrapper {
    @include flexCenter;
    text-wrap: nowrap;

    a {
        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.16em;
            color: $primary_light_color;
        }
    }
}

.infoItemHeading,
.infoText,
.infoText span,
.infoLinkWrapper,
.infoLinkWrapper a {
    font-size: $fs_normal_ssm;
    color: var(--text_color);
    font-weight: 300;
    transition: $transition_effect_md;

    span {
        font-size: $fs_normal_ssm;
    }
}

.infoItemHeading {
    font-size: $fs_normal_3sm;
}

.expandMoreInfoListBtn {
    @include flexCenter;
    justify-content: flex-end;
    font-size: $fs_normal_sm;
    font-weight: 600;
    color: var(--text_color);
    padding: 0.6em;
    gap: 0.3em;
    transition: $transition_effect_md;
    background-color: transparent;

    svg {
        height: $fs_normal_lg;
        transition: inherit;

        &.rotate {
            transform: rotate(-180deg);
        }
    }

    &:hover {
        color: $primary_color;

        svg {
            color: $primary_color;
        }
    }
}

.detailsInfoBottomWrapper {
    @include flexCenter;
    justify-content: space-between;
    padding: $detailsBottomPadding 0;
    border-radius: $detailsBottomBorderRadius;
    background: var(--details_bottom_bg_color);
    transition: $transition_effect_md;
}

.detailsInfoPricesWrapper {
    @include flexCenter;
    gap: clamp(8px, 1rem, 14px);

    .newDetailsInfoPrice {
        font-size: $fs_normal_lg;
        font-weight: 700;
        color: $primary_light_color;
    }

    .oldDetailsInfoPrice {
        font-size: $fs_normal_md;
        text-decoration: line-through;
        font-weight: 500;
        color: color-mix(in srgb, var(--text_color) 56%, transparent);
        transition: $transition_effect_md;
    }
}

.addToCartBtnDetailsInfo {
    @include flexCenter;
    padding: 0.6em 2.2em;
    background-color: transparent;

    span {
        font-size: $fs_normal_lg;
        font-weight: 600;
        color: var(--text_color);
        transition: $transition_effect_md;
    }

    &:hover {
        span {
            color: $primary_color;
            transform: scale(1.06);
        }
    }

    &.active {
        span {
            color: $green_color;
        }
    }
}
