.cartGameCard {
    @include flexCenter;
    justify-content: space-between;
    padding: $cartCardPaddingTopBtm $cartCardPaddingLeftRight;
    gap: clamp(20px, 2.2rem, 26px);
    flex-wrap: wrap;
}

.cartCardLeft {
    @include flexCenter;
    justify-content: flex-start;
    flex: 1;
    gap: clamp(20px, 2.2rem, 26px);
    flex-wrap: wrap;

    @media (max-width: 1024px) {
        gap: clamp(14px, 1.6rem, 20px);
    }

    @media (max-width: 768px) {
        gap: clamp(10px, 1.2rem, 16px);
    }

    @media (max-width: 460px) {
        gap: clamp(4px, 0.6rem, 10px);
    }
}

.cartCardImgWrapper {
    width: 14%;

    @media (max-width: 1024px) {
    }

    @media (max-width: 768px) {
        width: 30%;
    }

    @media (max-width: 460px) {
        width: 26%;
    }

    .cartCardImg {
        width: 100%;
        height: 100%;
        aspect-ratio: 3.5 / 2;
        object-fit: cover;
        object-position: center;
    }

    .cartCardSkeletonImg {
        width: 100%;
        aspect-ratio: 3.5 / 3;
    }
}

.cartCardSkeletonName {
    font-size: $fs_normal_lg;
    color: transparent;

    @media (max-width: 1024px) {
        font-size: calc($fs_normal_lg * 0.9);
        font-size: $fs_normal_md;
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_sm;
    }

    @media (max-width: 460px) {
        font-size: $fs_normal_4sm;
    }

    @media (max-width: 360px) {
        font-size: $fs_normal_4sm;
    }
}

.cartCardName {
    font-size: $fs_normal_lg;
    color: var(--text_color);
    transition: $transition_effect_md;

    @media (max-width: 1024px) {
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_md;
    }

    @media (max-width: 460px) {
        font-size: $fs_normal_ssm;
    }

    @media (max-width: 360px) {
        font-size: $fs_normal_3sm;
    }

    &:hover {
        color: $primary_color;
        text-decoration: underline;
        text-underline-offset: 0.3em;
    }
}

.cartCardRight {
    @include flexCenter;
    gap: clamp(16px, 1.6rem, 24px);
    flex-wrap: wrap;
}

.cartCardSkeletonPrice {
    font-size: $fs_normal_md;
    color: transparent;

    @media (max-width: 1024px) {
        font-size: $fs_normal_sm;
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_3sm;
    }

    @media (max-width: 460px) {
        font-size: $fs_normal_4sm;
    }
}

.cartCardPrice {
    font-size: $fs_normal_xl;
    font-weight: 700;
    color: $primary_lighter_color;

    @media (max-width: 1024px) {
        font-size: $fs_normal_lg;
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_md;
    }

    @media (max-width: 460px) {
        font-size: $fs_normal_sm;
    }

    @media (max-width: 360px) {
        font-size: $fs_normal_3sm;
    }
}

.cartCardDeleteBtn {
    @include flexCenter;
    padding: 1.2em;
    border-radius: $distance_sm;
    background-color: $dark_red_color;
    transition: $transition_effect_md;

    @media (max-width: 1024px) {
        padding: 1em;
    }

    @media (max-width: 768px) {
        padding: 0.8em;
    }

    @media (max-width: 460px) {
        padding: 0.6em;
    }

    svg {
        color: $snow_white_color;
        transition: $transition_effect_md;

        @media (max-width: 1024px) {
            height: $fs_normal_xl;
        }

        @media (max-width: 768px) {
            height: $fs_normal_lg;
        }

        @media (max-width: 460px) {
            height: $fs_normal_sm;
        }
    }

    &:hover {
        transform: scale(1.06);
        background-color: $light_red_color;
        filter: brightness(1.16);

        svg {
            color: $white_color;
        }
    }
}
