$searchInpWidthToWrapper: 82%;
$searchClearInpValWidthToWrapper: 6%;
$searchInpBorderRadius: 12px;

// SEARCH INP HEADER IN DARK BG VARIABLES
$headerSearchInpBgColorInactiveInDarkBg: rgba(
    $color: $light_gray_color,
    $alpha: 0.16,
);
$headerSearchInpBorderColorInactiveInDarkBg: rgba(
    $color: $snow_white_color,
    $alpha: 0.56,
);
$headerSearchInpBgColorActiveInDarkBg: rgba(
    $color: $light_gray_color,
    $alpha: 0.36,
);
$headerSearchInpBorderColorActiveInDarkBg: rgba(
    $color: $snow_white_color,
    $alpha: 0.96,
);
$searchInpPlaceholderColorInDarkBg: rgba(
    $color: $gray_color,
    $alpha: 0.96,
);
$searchBtnSvgIconColorInDarkBg: rgba(
    $color: $snow_white_color,
    $alpha: 0.66,
);
$searchBtnDividerLineColorInDarkBg: rgba(
    $color: $snow_white_color,
    $alpha: 0.76,
);
$searchBtnBgColorHoverInDarkBg: rgba(
    $color: $snow_white_color,
    $alpha: 0.6,
);

// SEARCH INP HEADER IN BRIGHT BG VARIABLES
$headerSearchInpBgColorInactiveInBrightBg: rgba(
    $color: $gray_color,
    $alpha: 0.26,
);
$headerSearchInpBorderColorInactiveInBrightBg: rgba(
    $color: $dark_gray_color,
    $alpha: 0.36,
);
$headerSearchInpBgColorActiveInBrightBg: rgba(
    $color: $gray_color,
    $alpha: 0.46,
);
$headerSearchInpBorderColorActiveInBrightBg: rgba(
    $color: $dark_gray_color,
    $alpha: 0.76,
);
$searchInpPlaceholderColorInBrightBg: rgba(
    $color: $dark_gray_color,
    $alpha: 0.96,
);
$searchBtnSvgIconColorInBrightBg: rgba(
    $color: $black_text,
    $alpha: 0.56,
);
$searchBtnDividerLineColorInBrightBg: rgba(
    $color: $dark_gray_color,
    $alpha: 0.36,
);
$searchBtnBgColorHoverInBrightBg: rgba(
    $color: $snow_white_color,
    $alpha: 0.36,
);

.searchWrapper {
    &.headerSearchInp {
        width: $header_inp_width_normal_laptop;
        position: relative;

        &.interacted {
            animation: headerInpShrink 360ms cubic-bezier(0.43, 0.07, 0.35, 1.01);
        }

        &:has(.searchInp:active),
        &:has(.searchInp:focus),
        &:has(.searchInp:not(:placeholder-shown)) {
            animation: headerInpExpand 360ms cubic-bezier(0.43, 0.07, 0.35, 1.01);
            width: $header_inp_width_expanded_laptop;
        }
    }
}

.searchInpWrapper {
    @include flexCenter;
    overflow: hidden;
    border: 2px solid var(--out_focus_gray);
    border-radius: $searchInpBorderRadius;
    transition: $transition_effect_md;

    &:has(.searchInp:active),
    &:has(.searchInp:focus),
    &:has(.searchInp:not(:placeholder-shown)) {
        button.searchBtn::before {
            height: 80%;
        }
    }

    &.headerSearchInp {
        width: 100%;
        background-color: $headerSearchInpBgColorInactiveInDarkBg;
        border-color: $headerSearchInpBorderColorInactiveInDarkBg;
        backdrop-filter: $intro_element_blur_bg_effect;

        &:has(.searchInp:active),
        &:has(.searchInp:focus),
        &:has(.searchInp:not(:placeholder-shown)) {
            background-color: $headerSearchInpBgColorActiveInDarkBg;
            border-color: $headerSearchInpBorderColorActiveInDarkBg;
        }

        &:has(.searchInp:active),
        &:has(.searchInp:focus) {
            .searchInp::placeholder {
                color: $searchInpPlaceholderColorInDarkBg;
            }
        }

        button {
            svg {
                color: $searchBtnSvgIconColorInDarkBg;
            }

            &.searchBtn {
                &::before {
                    border-color: $searchBtnDividerLineColorInDarkBg;
                }

                &:hover {
                    background-color: $searchBtnBgColorHoverInDarkBg;

                    svg {
                        color: $black_text;
                    }
                }
            }
        }

        &:hover {
            filter: brightness(1.16);
        }
    }

    &.searchInpInBrightBg {
        background-color: $headerSearchInpBgColorInactiveInBrightBg;
        border-color: $headerSearchInpBorderColorInactiveInBrightBg;

        &:has(.searchInp:active),
        &:has(.searchInp:focus),
        &:has(.searchInp:not(:placeholder-shown)) {
            background-color: $headerSearchInpBgColorActiveInBrightBg;
            border-color: $headerSearchInpBorderColorActiveInBrightBg;
        }

        &:has(.searchInp:active),
        &:has(.searchInp:focus) {
            .searchInp::placeholder {
                color: $searchInpPlaceholderColorInBrightBg;
            }
        }

        button {
            svg {
                color: $searchBtnSvgIconColorInBrightBg;
            }

            &.searchBtn {
                &::before {
                    border-color: $searchBtnDividerLineColorInBrightBg;
                }

                &:hover {
                    background-color: $searchBtnBgColorHoverInBrightBg;
                }
            }

            &:hover {
                svg {
                    color: $black_text;
                }
            }
        }
    }
}

.searchInp {
    background-color: transparent;
    font-size: $fs_normal_md;
    padding: 0.36em 0.8em;
    width: $searchInpWidthToWrapper;
    height: 100%;

    outline: none;
    border: none;

    &::placeholder {
        font-size: $fs_normal_md;
        transition: $transition_effect_md;
    }

    &.headerSearchInp {
        color: $white_text;

        &::placeholder {
            color: rgba($color: $light_gray_color, $alpha: 0.56);
            text-shadow: 0 0 1px $black_text;
        }

        &:active,
        &:focus {
            &::placeholder {
                color: $gray_color;
            }
        }
    }

    &.searchInpInBrightBg {
        color: $black_text;

        &::placeholder {
            color: rgba($color: $light_gray_color, $alpha: 0.56);
            text-shadow: 0 0 1px $black_text;
        }

        &:active,
        &:focus {
            &::placeholder {
                color: $black_text;
            }
        }
    }
}

.searchBtn,
.clearSearchInpValBtn {
    align-self: stretch;
    background-color: transparent;
    cursor: pointer;
    transition: inherit;

    svg {
        transition: inherit;
    }
}

.searchBtn {
    width: 100% - $searchInpWidthToWrapper - $searchClearInpValWidthToWrapper;
    position: relative;

    svg {
        height: $fs_normal_lg;
        color: var(--text_color);
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 60%;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid;
        transition: inherit;
    }

    &:hover {
        filter: brightness(1.4);

        svg {
            transform: scale(1.24);
        }
    }
}

.clearSearchInpValBtn {
    @include flexCenter;
    width: $searchClearInpValWidthToWrapper;
    margin-right: 0.3em;

    svg {
        height: $fs_normal_sm;
        fill: currentColor;
        color: var(--text_color);
    }
}

.searchSuggestionWrapper {
    position: absolute;
    top: 124%;
    width: 100%;

    background-color: var(--bg_color);
    border: $thick_border_light_gray;
    border-radius: $searchInpBorderRadius;
    transition: $transition_effect_md;
    box-shadow: 0 6px 16px color-mix(in srgb, var(--out_focus_gray) 60%, transparent 100%);
    overflow: hidden;

    &.expand {
        max-height: 500px;
        opacity: 1;
    }

    &.hidden {
        max-height: 0;
        opacity: 0;
    }
}

.searchSuggestionLoadingImgWrapper {
    @include flexCenter;
    padding: 1.6em 0;

    .searchSuggestionLoadingImg {
        max-height: 100px;
    }
}

.suggestionItemsWrapper {
}

.suggestionItem {
    width: 100%;
    @include flexCenter;
    justify-content: stretch;
    gap: clamp(20px, 2.4rem, 26px);
    padding: 2em 2.4em;
    transition: $transition_effect_md;

    .suggestionItemImg {
        width: 26%;
        aspect-ratio: 3 / 2;
        border-radius: $distance_sm;
        border: 2px solid color-mix(in srgb, var(--out_focus_gray) 60%, transparent 100%);
        object-fit: cover;
        object-position: center;
        transition: inherit;
    }

    .suggestionItemLink {
        flex: 1;
        display: block;
        height: 100%;
        font-size: $fs_normal_md;
        color: var(--text_color);
        transition: inherit;
    }

    &:hover {
        transform: scale(1.003);
        background-color: color-mix(in srgb, var(--out_focus_gray) 60%, transparent 100%);

        .suggestionItemImg {
            border-color: $primary_color;
        }

        .suggestionItemLink {
            font-weight: 600;
            color: $primary_color;
            text-decoration: underline;
            text-underline-offset: 0.3em;
            text-wrap: pretty;
        }
    }
}
