.header {
    transition: $transition_effect_md;

    &.normalPageHeader {
        background-color: var(--bg_color);
        border-bottom: 1px solid var(--in_focus_gray);

        &.hidden {
            transform: translateY(-106%);
        }
    }
    // &.hidden {
    //     transform: translateY(-100%);
    // }
}

.headerLogo {
    justify-self: start;
    @include flexCenter;
    font-size: $fs_heading_md;
    gap: clamp(8px, 1rem, 12px);
    transition: $transition_effect_md;

    span {
        font-size: inherit;
        letter-spacing: -0.1rem;
        font-family: 'Wallpoet';
        color: var(--text_color);
        text-shadow: 0px 0px 6px $black_text;
        transition: $transition_effect_md;
    }

    &.introPageHeader,
    &.errorPageHeader {
        color: $white_text;
    }

    .headerLogoImg {
        width: clamp(42px, 4.6rem, 50px);
    }

    &:hover {
        transform: scale(1.03);
    }
}

.headerRightControllerWrapper {
    @include flexCenter;
    gap: clamp(10px, 1.2rem, 14px);
}

.cartBtn {
    background-color: transparent;
    transition: $transition_effect_md;

    svg {
        color: var(--text_color);
        height: $fs_heading_3sm;
        transition: $transition_effect_md;
    }

    &:hover {
        svg {
            transform: scale(1.16);
        }
    }

    &.introPage {
        svg {
            color: $white_text;
        }

        &:hover {
            svg {
                color: $white_color;
            }
        }
    }
}

.themeBtn {
    background-color: transparent;

    svg {
        height: $fs_heading_3sm;
        color: var(--text_color);
        transition: $transition_effect_md;

        &.moonHeaderIcon,
        &.sunHeaderIcon {
            &:hover {
                fill: currentColor;

                path,
                line,
                polyline {
                    stroke: currentColor;
                }
            }
        }

        &.moonHeaderIcon {
            &:hover {
                color: $purple_color;

                path,
                line,
                polyline {
                    stroke: $dark_purple_color;
                }
            }
        }

        &.sunHeaderIcon {
            &:hover {
                color: $yellow_color;

                path,
                line,
                polyline {
                    stroke: $dark_yellow_color;
                }
            }
        }

        .sunRays,
        .moonBody,
        .starOfMoon {
            transition: $transition_effect_md;
        }

        .sunRays {
            transform-origin: 12px 12px;
        }

        .moonBody {
            transform-origin: 11px 13px;
        }

        .starOfMoon {
            transform-origin: 20px 5px;
        }
    }

    &:hover {
        svg {
            transform: scale(1.16);

            .sunRays {
                animation: sunRaysSpinAndPulse 2.6s linear infinite;
            }

            .moonBody {
                animation: moonRocking 3s linear infinite;
            }

            .starOfMoon {
                animation: starOfMoonSpinAndPulse 2s linear infinite;
            }
        }
    }
}

.headerUserInfoWrapper {
    margin-left: 1.6em;
    position: relative;

    .userController {
        @include flexCenter;
        gap: clamp(8px, 1.2rem, 16px);
        padding: 0.6em 1em;
        cursor: pointer;

        .userAvatarWrapper {
            @include flexCenter;
            // background-color: red;
            border-radius: 999px;
            aspect-ratio: 1 / 1;
            overflow: hidden;

            .userAvatar {
                font-size: $fs_normal_xl;
                text-transform: capitalize;
                font-weight: 600;
                color: $white_text;
                padding: 0.46em;
                user-select: none;
            }
        }

        .userInfoText {
            font-size: $fs_normal_md;
            color: var(--text_color);
        }

        &:hover {
            background-color: color-mix(in srgb, var(--out_focus_gray) 30%, transparent 100%);
            border-radius: $distance_sm;
        }
    }

    ul {
        position: absolute;
    }
}

.headerAuthenControllerWrapper {
    margin-left: 1.6em;
    @include flexCenter;

    a {
        font-size: $fs_normal_md;
        font-weight: 700;
        color: var(--text_color);
        transition: $transition_effect_md;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.3em;
            color: $primary_lighter_color;
            font-weight: 760;
        }
    }
}
