@use './variables' as *;

@keyframes skeletonLoading {
    0% {
        background-position: -600px 0;
        opacity: 100%;
    }
    50% {
        opacity: 30%;
    }
    100% {
        background-position: 600px 0;
        opacity: 100%;
    }
}

@keyframes headerInpExpand {
    0% {
        width: $header_inp_width_normal_laptop;
    }
    70% {
        width: $header_inp_width_expanded_laptop * 1.06;
    }
    100% {
        width: $header_inp_width_expanded_laptop;
    }
}

@keyframes headerInpShrink {
    0% {
        width: $header_inp_width_expanded_laptop;
    }
    70% {
        width: $header_inp_width_normal_laptop * 0.86;
    }
    100% {
        width: $header_inp_width_normal_laptop;
    }
}

@keyframes sunRaysSpinAndPulse {
    0% {
        transform: rotate(0deg) scale(1.06);
    }
    50% {
        transform: rotate(180deg) scale(0.76);
    }
    100% {
        transform: rotate(360deg) scale(1.06);
    }
}

@keyframes starOfMoonSpinAndPulse {
    0% {
        transform: rotate(0deg) scale(1.36);
    }
    50% {
        transform: rotate(180deg) scale(0.86);
    }
    100% {
        transform: rotate(360deg) scale(1.36);
    }
}

@keyframes moonRocking {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-16deg);
    }
    75% {
        transform: rotate(16deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes gameCardFavBtnPump {
    0% {
        transform: translateY(0) scale(1);
    }
    20% {
        transform: translateY(-12px) scale(1.66) rotate(-45deg);
    }
    40% {
        transform: translateY(-12px) scale(1.66) rotate(45deg);
    }
    60% {
        transform: translateY(6px) scale(0.36) rotate(0deg);
    }
    80% {
        transform: translateY(0) scale(1.26) rotate(0deg);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes imgFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.86);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes badgeFallDown {
    0% {
        top: -160px;
    }
    16% {
        top: max(3rem, 30px);
    }
    86% {
        top: max(3rem, 30px);
    }
    100% {
        top: -160px;
    }
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 36%;
    }
    50% {
        opacity: 60%;
    }
    90% {
        opacity: 96%;
    }
    100% {
        opacity: 1;
    }
}
